[Unit]
Description=Daily Sync Webshop ERPNext backup schedule

[Timer]
OnCalendar=*-*-* 02:30:00
Persistent=true
RandomizedDelaySec=900

[Install]
WantedBy=timers.target
